<p>
	<%= link_to("Add Ingredient", {:action => 'new'}, :class => 'btn btn-primary') %>
</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Ounces</th>
			<th>Grams</th>
			<th>Carbs</th>
			<th>Fat</th>
			<th>Protein</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @ingredients.each do |ingredient| %>
		<tr>
			<td><%= ingredient.name %></td>
			<td><%= format_value(ingredient.ounces) %></td>
			<td><%= format_value(ingredient.grams) %></td>
			<td><%= ingredient.carbs %></td>
			<td><%= ingredient.fat %></td>
			<td><%= ingredient.protein %></td>
			<td>
				<%= link_to("Show", {:action => 'show', :id => ingredient.id }, :class => 'btn btn-default') %>
				<%= link_to("Edit", {:action => 'edit', :id => ingredient.id }, :class => 'btn btn-default') %>
				<%= link_to("Delete", {:action => 'delete', :id => ingredient.id }, :class => 'btn btn-danger') %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

