
<%= error_messages_for(@meal) %>

<p>
	<%= f.label(:mealdate) %>
</p>

<p>
<%= f.text_field(:mealdate)%>	
</p>

<p>
<%= f.label(:name) %>
</p>

<p>
<%= f.text_field(:name)%>	
</p>

<p>
<%= f.label(:mealtype) %>
</p>

<p>
<%= f.text_field(:mealtype)%>
</p>


