<p>
	<%= link_to("Add Meal", {:action => 'new'}, :class => 'btn btn-primary') %>
</p>
<table class="table table-striped">
	<thead>

		<tr>
			<th>Date</th>
			<th>Meal</th>
			<th>Type</th>
			<th>Macros</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @meals.each do |meal| %>
		<tr>
			<td>[Date]</td>
			<td><%= meal.name %></td>
			<td><%= meal.mealtype %></td>
			<td>
				<ul>
					<li>Carbs: </li>
					<li>Protein: </li>
					<li>Fat: </li>
				</ul>
			</td>
			<td>
				<%= link_to("Show", {:action => 'show', :id => meal.id }, :class => 'btn btn-default') %>
				<%= link_to("Edit", {:action => 'edit', :id => meal.id }, :class => 'btn btn-default') %>
				<%= link_to("Delete", {:action => 'delete', :id => meal.id }, :class => 'btn btn-danger') %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>